{% extends 'base_cliente.html' %}
{% load static %}
{% block content %}
<div class="produtos">
    
    {% for produto in produtos %}
        <form action="{% url 'produto:detalhes' titulo=produto.nome_produto id=produto.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="detalha">
                <div class="lista2">
                    <div class="img2">
                        <img src="{{produto.imagem.url}}" width="100" height="100" class="imgn">
                    </div>
                    <div class="dados">
                        <div class="h3">{{ produto.nome_produto }}</div>
                        <div class="sub-text">Seção: {{ produto.nome_secao }}</div>
                        <div class="sub-text" style="color: red;">Preço: {{ produto.preco|floatformat:2|default:"0,00" }} ~ R$ {{ produto.preco|floatformat:2|default:"0,00" }}</div>
                    </div>
                </div>
            </button>
        </form>
    {% endfor %}
</div>
{% endblock %}
