{% extends 'base2.html'%}
{% load static %}
{% block content %}
{% if msg %}
<div style="margin-top: 1.1%;position: relative;font-size: 14pt;font-weight: bold;" class="alert {{class}}">
   {{msg}}
</div>
{% endif %}
  <div class="formulario1">
    <form action="{% url 'pacotes:cadastro-pac' %}" method="POST" enctype="multipart/form-data" class="form">
    
    {% csrf_token %}  
    <label style="color: black;" class='label' for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label><br>
      {{form.nome}}<br>
      <label style="color: black;" class='label' for="{{ form.custo.id_for_label }}">{{ form.custo.label }}</label><br>
      {{form.custo}}<br>
      <label style="color: black;" class='label' for="{{ form.quant_prod.id_for_label }}">{{ form.quant_prod.label }}</label><br>
      {{form.quant_prod}}
      <br>
      <label style="color: black;" class='label' for="{{ form.quant_carousel.id_for_label }}">{{ form.quant_carousel.label }}</label><br>
      {{form.quant_carousel}}
      <br>
      <label style="color: black;" class='label' for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}</label><br>
      {{form.descricao}}<br>
    
      <center><a class="botao-voltar" href="{% url 'accounts:index' %}">Voltar</a><button type="submit" class="botao">Cadastrar</button></center>
  </form>
  </div>
</div>
{% endblock %}