{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivos CSS-->
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo2.css' %}">
    <!--Arquivo JS-->
    <script src='{% static "accounts/static/js/bootstrap.bundle.js" %}'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <!--ícone -->
    <link rel="icon" href="{% static 'img/logo.png' %}">


    
    
    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/c65d405071.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>
    <!--Cabeçalho superior-->
    <div class="header">
        <div class="sup">
            <a href="{% url 'accounts:home'%}"><div class="logo"><img src="{% static 'img/logo.png' %}" alt="Logo"></div></a>
            <div class="text">Bem-Vindo</div>
            <!--Menu normal-->
            <div class="menu">
                <div class="item"><a href="{% url 'accounts:home'%}">Home</a></div>
                <div class="item"><a href="{% url 'accounts:contato'%}">Contato</a></div>
                <div class="item"><a href="{% url 'accounts:sobre'%}">Sobre</a></div>
            </div>

            <!--Fechamento menu normal-->

            <!--MENU DO MEDIA QUERY-->
            <div class="menu_resp">
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="item"><a href="{% url 'accounts:home'%}">Home</a></div>
                    <div class="item"><a href="{% url 'accounts:contato'%}">Contato</a></div>
                    <div class="item"><a href="{% url 'accounts:sobre'%}">Sobre</a></div>
                </div>
                <div id="main">
                    <button class="openbtn" onclick="openNav()">&#9776;</button>
                </div>
                  
            </div>
            <!--FECHAMENTO DA DIV MEDIA QUERY-->
        </div>
        <!--Barra verde-->
        <div class="title2" style="color: rgb(255, 255, 255);padding-left: 3%;"> 
    
            <div class="title2">
                <div class="busca ">
                <center>
                    <form action="{% url 'produto:busca-produto' %}" method="GET" class="formulario">
                        {% csrf_token %}
                        <input class="campo-search" type="text" name="search" id="busca" placeholder="Faça uma busca pelos produtos desejados" value="{{busca}}">
                        <button type="submit" class="botao2">
                            <i class="fa-solid fa-magnifying-glass" style="color: #19877E;"></i>
                        </button>
                    </form>
                </center>   
                </div>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
</body>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script>

    // Capturando o formulário e o campo de entrada
    const searchForm = document.getElementById('search-form');
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');

    // Função para processar a pesquisa
    function processSearch(event) {
        event.preventDefault(); // Impedindo o envio do formulário

        const query = searchInput.value; // Obtendo o valor da pesquisa

        // Aqui você pode fazer o processamento da pesquisa com base na consulta 'query'
        // Exemplo: você pode enviar uma requisição AJAX para buscar os resultados da pesquisa

        // Limpando os resultados anteriores
        searchResults.innerHTML = '';

        // Exemplo: adicionando resultados de teste
        const resultados = [
          
        ];

        if (resultados.length === 0) {
            const noResultsElement = document.createElement('p');
            noResultsElement.textContent = 'Nenhum resultado encontrado.';
            searchResults.appendChild(noResultsElement);
        } else {
            resultados.forEach(resultado => {
                const resultElement = document.createElement('p');
                resultElement.textContent = resultado;
                searchResults.appendChild(resultElement);
            });
        }
    }

    // Adicionando o evento submit ao formulário
    searchForm.addEventListener('submit', processSearch);
</script>
</body>
<script>
/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
document.getElementById("mySidebar").style.width = "250px";
document.getElementById("main").style.marginRight = "250px";
document.getElementById("main").style.display = "none";

}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
document.getElementById("mySidebar").style.width = "0";
document.getElementById("main").style.marginRight = "0";
document.getElementById("main").style.display = "flex";
}
</script>
</html>
